
<p id="notice"><%= notice %></p>

<div style = "text-align: center">
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.body %>
</p>

</div>

<table >
<% CSV.parse(@post.files.first.download)[0].each do |head| %>
    <th style = "border: 1px solid #dddddd;
  text-align: center;
  padding: 8px; font-size: larger"><%= head.upcase%></th>
<% end %>

<% CSV.parse(@post.files.first.download, headers: true).each do |body| %>
 <tr>
  <% body.each do |item| %>
  <td style = "border: 1px solid #dddddd;
  text-align: right;
  padding: 5px; font-size: large" > <%= item[1] %> </td>
  <% end %>
</tr>
<% end %>
</table>


<div style = "display: flex;
    justify-content: center;" >

<p>
  <%= link_to '<button type="button">Download CSV</button>'.html_safe, @post.files.first%>
</p>


<%= link_to  '<button type="button">Edit</button>'.html_safe, edit_post_path(@post) %> 
<%= link_to  '<button type="button">Back</button>'.html_safe, posts_path %>

</div>




